<div class="row">
  <div class="col-xs-12">
    <form  id="cellar-item-add">
      <div class="row">
        <div class="col-xs-5 form-group">
          <label for="wine-name" required class="control-label">Name</label>
          <input type="text" id="wine-name" required class="form-control">
        </div>
                <div class="col-xs-2 form-group">
          <label for="wine-quantity" required class="control-label">Qty</label>
          <input type="text" id="wine-quantity" required class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">Add</button>
          <button class="btn btn-danger" type="button">Cancel</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>