<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedWine?.imageUrl}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedWine?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success">To Cellar</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedWine?.shortDesc}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Grapes
  </div>
</div>