<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedWine?.imageUrl}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedWine?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <input type="number" placeholder="Qty" class="form-control input-sm">
    <button class="btn btn-success" (click)="onAddToCellar()">To Cellar</button>
    <button class="btn btn-primary" (click)="onEdit()">Edit</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedWine?.shortDesc}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let grape of selectedWine?.grapes">{{grape.name}} ({{grape.percentage}}%)</li>
    </ul>
  </div>
</div>